{% load custom_filter %}

<div class="recommendation">
  <div class="recommendation__title">
    이런건 어떠세요?
  </div>
  <div class="row recommendation__row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 recommendation__column">
      <a href="/assembly/">
        <img src="{{ 'CDN_URL'|get_settings_variable }}/asset/common/footer_assembly_a.png" class="full-width" />
        {% comment %}
        <img src="{{ 'CDN_URL'|get_settings_variable }}/asset/common/footer_assembly_b.png" class="full-width" />
        {% endcomment %}
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 recommendation__column">
      <a href="/party/">
        {% comment %}
        <img src="{{ 'CDN_URL'|get_settings_variable }}/asset/common/footer_party.png" class="full-width"/>
        {% endcomment %}
        <img src="{{ 'CDN_URL'|get_settings_variable }}/asset/common/footer_party_coming_soon.png" class="full-width"/>
      </a>
    </div>
	</div>
</div>

