{% load custom_filter %}

{# Facebook #}
<a href="https://www.facebook.com/sharer/sharer.php?u=http://pingkorea.com{{ request.path }}" class="share-btn" target="_blank">
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icons/facebook.png" />
</a>

{# Twitter #}
<a href="https://twitter.com/intent/tweet?text=내가 해도 저것보단 잘하겠다! 19대 국회 법안, 대신 투표해보기 &url=http://pingkorea.com{{ request.path }}" class="share-btn" id="twitter-share" target="_blank">
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icons/twitter.png" class="social-media__icon" />
</a>

{# Kakaotalk #}
<a href="javascript:;" class="share-btn" id="kakaotalk-share">
  <input type="hidden" id="kakaotalk-share__label" value="내가 해도 저것보단 잘하겠다! 19대 국회 법안, 대신 투표해보기" />
  <input type="hidden" id="kakaotalk-share__image-src" value="{{ 'CDN_URL'|get_settings_variable }}/share/ping.png" />
  <input type="hidden" id="kakaotalk-share__image-width" value="200" />
  <input type="hidden" id="kakaotalk-share__image-height" value="200" />
  <input type="hidden" id="kakaotalk-share__btn-text" value="나도 해보기" />
  <input type="hidden" id="kakaotalk-share__url" value="http://pingkorea.com{{ request.path }}" />
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icons/kakao.png" class="social-media__icon" />
</a>
