{% load custom_filter %}

<meta property="fb:app_id" content="1695771247328026" />

{# Assembly page #}
{% if '/assembly/' in request.path %}
<meta property="og:type" content="article" />
<meta property="og:title" content="나의 도플갱어 국회의원은?" />
<meta property="og:site_name" content="pingkorea.com" />
<meta property="og:url" content="http://pingkorea.com{{ request.path }}" />
<meta property="og:description" content="19대 국회 법안 투표해서 나와 가장 비슷한 국회의원을 찾아보세요" />
<meta property="og:image" content="{{ 'CDN_URL'|get_settings_variable }}/share/assembly.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:meta_title" content="나의 도플갱어 국회의원은? " />
<meta property="twitter:description" content="19대 국회 법안 투표해서 나와 가장 비슷한 국회의원을 찾아보세요" />
<meta property="twitter:image" content="{{ 'CDN_URL'|get_settings_variable }}/share/assembly.png" />
<meta property="twitter:image:height" content="1200">
<meta property="twitter:image:width" content="630">

{# Party page #}
{% elif '/party/' in request.path %}
<meta property="og:type" content="website" />
<meta property="og:title" content="총선까지 5일! 비례대표는 기호 몇 번? [2차 업그레이드 완료!]" />
<meta property="og:site_name" content="pingkorea.com" />
<meta property="og:url" content="http://pingkorea.com{{ request.path }}" />
<meta property="og:description" content="해보신 분들도 다시 오셔서 나의 4차원 정치 성향 알아보세요!" />
<meta property="og:image" content="{{ 'CDN_URL'|get_settings_variable }}/share/party.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:meta_title" content="총선까지 5일! 비례대표는 기호 몇 번? [2차 업그레이드 완료!]" />
<meta property="twitter:description" content="해보신 분들도 다시 오셔서 나의 4차원 정치 성향 알아보세요!" />
<meta property="twitter:image" content="{{ 'CDN_URL'|get_settings_variable }}/share/party.png" />
<meta property="twitter:image:height" content="1200">
<meta property="twitter:image:width" content="630">

{# Main Page #}
{% else %}
<meta property="og:type" content="website" />
<meta property="og:title" content="2016 총선 투표 가이드" />
<meta property="og:site_name" content="pingkorea.com" />
<meta property="og:url" content="http://pingkorea.com{{ request.path }}" />
<meta property="og:description" content="나와 잘 맞는 정당과 국회의원을 찾아보세요" />
<meta property="og:image" content="{{ 'CDN_URL'|get_settings_variable }}/share/main.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:meta_title" content="2016 총선 투표 가이드 " />
<meta property="twitter:description" content="나와 잘 맞는 정당과 국회의원을 찾아보세요" />
<meta property="twitter:image" content="{{ 'CDN_URL'|get_settings_variable }}/share/main.png" />
<meta property="twitter:image:height" content="1200">
<meta property="twitter:image:width" content="630">
{% endif %}

{% comment %}
{# Index page : 'website' / Result detail page : 'article' #}
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:site_name" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
{# Image on the upper side : '1200 x 630' / Image on the left side : '200 x 200' #}
<meta property="og:image:width" content="" />
<meta property="og:image:height" content="" />
<meta property="twitter:meta_title" content="" />
<meta property="twitter:description" content="" />
<meta property="twitter:image" content="" />
<meta property="twitter:image:height" content="">
<meta property="twitter:image:width" content="">
{% endcomment %}
