{% load staticfiles %}
{% load compress %}
{% load custom_filter %}

<!DOCTYPE html>
<html>
<head>
  <title>Ping Korea</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />

  {# Search option #}
  <meta name="google" value="notranslate" />
  <meta name="author" content="Ping Korea" />
  <meta name="description" content="정치성향 테스트 (A Korean Voter Advice Application)" />
  <meta name="keywords" content="핑, 핑코리아, ping, ping korea" />

  {# Facebook Open Graph Tag #}
  {% comment %}
  <meta property="og:title" content="핑" />
  <meta property="og:site_name" content="Ping Korea" />
  <meta property="og:url" content="https://pingkorea.com/" />
  <meta property="og:description" content="정치성향 테스트" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  {% endcomment %}

  {# Favicon #}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/manifest.json">
  <link rel="mask-icon" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ 'CDN_URL'|get_settings_variable }}/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dist/bundle.css' %}" />
  {% endcompress %}

  {# Support HTML5 tag and media query for IE below version 9 #}
  <!--[if lte IE 8]>
    {# Support HTML5 Section Element #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    {# Support CSS Media Query #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {# Google Analytics #}
  {% if 'DEBUG'|get_settings_variable == False %}
  <script type="text/javascript" src="{% static '3rd-party/googleAnalytics.js' %}"></script>
  <script type="text/javascript" src="{% static '3rd-party/heapAnalytics.js' %}"></script>
  {% endif %}
</head>
<body>
  {# Loading icon #}
  <div id="loading-icon"></div>

  {# Show if script is not executable at browser #}
  <noscript>
    <h1>Browser가 JavaScript를 지원하지 않고 있습니다</h1> 
    <h2>아래 메뉴얼대로 따라해주세요</h2>
    <h3>Internet Explorer</h3>
    <div>
      도구 - 인터넷 옵션 - 보안 탭 - 사용자 지정 수준 - 스크립팅 - Active 스크립팅 - 사용 - 확인
    </div>
    <h3>Chrome</h3>
    <div>
      도구 - 설정 - 개인정보 - 콘텐츠 설정 - 자바스크립트 - 모든 사이트에서 자바스크립트 실행 허용 - 완료
    </div>
    <h3>Android</h3>
    <div>
      메뉴 - 설정 - 고급설정 - 자바스크립트 사용
    </div>
    <h3>FireFox</h3>
    <div>
      주소창에 "about:config" 입력 - 고급 기능 사용 동의 - javascript.enabled 더블 클릭
    </div>
    <h3>Safari Mobile</h3>
    <div>
      설정 - Safari - JavaScript 클릭
    </div>
    <h3>Safari Desktop</h3>
    <div>
      도구 - 기본 설정 - 보안 - JavaScript 활성화
    </div>
  </noscript>

  <div class="alert alert-warning hidden" id="browser-support-alert-message" role="alert"></div>

  <header>
    {% block header %}{% endblock %}
  </header>
  
  <section class="container-fit">
    <div class="container">
      {% block container %}{% endblock %}
    </div>
  </section>

  <div class="hidden" id="voice-of-customer-curtain"></div>

  <div id="voice-of-customer-container">
    <button class="btn btn-default" id="toggle-voice-of-customer-btn" type="button" data-toggle="collapse" data-target="#voice-of-customer" aria-expanded="false" aria-controls="voice-of-customer">
      사용자 의견
    </button>
    <div class="collapse" id="voice-of-customer">
      <textarea class="form-control" placeholder="수정해야 하거나, 추가됐으면 하는 것들을 알려주시면 적극 반영하겠습니다 :)"></textarea>
      <div class="alert alert-info hidden" id="voice-of-customer-alert-message" role="alert">
        감사합니다! 빠른 시일내에 반영하도록 하겠습니다
      </div>
      <button class="btn btn-primary btn-block" id="voice-of-customer-submit-btn" data-loading-text="잠시만 기다려주세요">
        제출하기
      </button>
    </div>
  </div>

  {% compress js %}
  <script type="text/javascript" src="{% static 'dist/vendor.bundle.js' %}"></script>
  {% endcompress %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'dist/bundle.js' %}"></script>
  {% endcompress %}

  {# Support Placehoder for IE below version 10 #}
  <!--[if lte IE 9]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.8/jquery.placeholder.min.js"></script>
    <script type="text/javascript">
      if(!Modernizr.input.placeholder) $('input').placeholder();
    </script>
  <![endif]-->
</body>
</html>
