{% load staticfiles %}
{% load compress %}
{% load custom_filter %}

<!DOCTYPE html>
<html>
<head>
  <title>P!NG KOREA: 투표 가이드 서비스</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />

  {# Search option #}
  <meta name="google" value="notranslate" />
  <meta name="author" content="" />
  <meta name="description" content="대한민국 투표 가이드 서비스 (A Korean Voter Advice Application)" />
  <meta name="keywords" content="핑, 핑코리아, ping, ping korea, voter advice" />

  {# Social media meta tags #}
  {% include 'include/social_media_meta_tags.html' %}

  {# Favicon #}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/manifest.json">
  <link rel="mask-icon" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ 'CDN_URL'|get_settings_variable }}/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ 'CDN_URL'|get_settings_variable }}/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="{{ 'CDN_URL'|get_settings_variable }}/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dist/base.css' %}" />
  {% endcompress %}
  <link rel="stylesheet" type="text/css" href="{% static 'pykih-charts/pykcharts.1.1.0.min.css' %}">

  {# Support HTML5 tag and media query for IE below version 9 #}
  <!--[if lte IE 8]>
    {# Support HTML5 Section Element #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    {# Support CSS Media Query #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {# Google Analytics #}
  {% if 'DEBUG'|get_settings_variable == False %}
  <script type="text/javascript" src="{% static '3rd-party/googleAnalytics.js' %}"></script>
  <script type="text/javascript" src="{% static '3rd-party/heapAnalytics.js' %}"></script>
  {% endif %}

  {# Optimzely for A/B testing #}
  {% if 'DEBUG'|get_settings_variable == False %}
  {% block optimizely_js %}{% endblock %}
  {% endif %}
</head>
<body>
  {# Loading icon #}
  <div id="loading-icon"></div>

  {# Show if script is not executable at browser #}
  <noscript>
    <h1>Browser가 JavaScript를 지원하지 않고 있습니다</h1> 
    <h2>아래 메뉴얼대로 따라해주세요</h2>
    <h3>Internet Explorer</h3>
    <div>
      도구 - 인터넷 옵션 - 보안 탭 - 사용자 지정 수준 - 스크립팅 - Active 스크립팅 - 사용 - 확인
    </div>
    <h3>Chrome</h3>
    <div>
      도구 - 설정 - 개인정보 - 콘텐츠 설정 - 자바스크립트 - 모든 사이트에서 자바스크립트 실행 허용 - 완료
    </div>
    <h3>Android</h3>
    <div>
      메뉴 - 설정 - 고급설정 - 자바스크립트 사용
    </div>
    <h3>FireFox</h3>
    <div>
      주소창에 "about:config" 입력 - 고급 기능 사용 동의 - javascript.enabled 더블 클릭
    </div>
    <h3>Safari Mobile</h3>
    <div>
      설정 - Safari - JavaScript 클릭
    </div>
    <h3>Safari Desktop</h3>
    <div>
      도구 - 기본 설정 - 보안 - JavaScript 활성화
    </div>
  </noscript>

  <input type="hidden" id="domain-name" value="{{ 'DOMAIN_NAME'|get_settings_variable }}" />

  <div class="alert alert-warning hidden" id="browser-support-alert-message" role="alert"></div>

  <div id="main-container">
		<img src="{{ 'CDN_URL'|get_settings_variable }}/asset/common/logo_left.png" class="background-logo background-logo--left" />
    {% block container %}{% endblock %}
		<img src="{{ 'CDN_URL'|get_settings_variable }}/asset/common/logo_right.png" class="background-logo background-logo--right" />
  </div>

  <div class="modal fade" id="announcement" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title">이용자 여러분께 알립니다</h3>
        </div>
        <div class="modal-body">
          <h4>본 공지글은 다음의 내용을 담고 있습니다.</h4>
          <ul style="margin-left: 20px;">
            <li>정당 응답 수정에 대한 안내</li>
            <li>서버가 불안정했던 것에 대한 안내</li>
          </ul>
          
          <div class="space"></div>
          
          <h4>정당 응답 수정에 대한 안내</h4>
          
          <div class="space"></div>
          
          <p>방법론 페이지에서 확인하실 수 있듯, 저희 사이트의 결과 페이지는 현재 국회의원 선거에 비례대표 후보를 낸 21개 정당들에 설문지를 보내고, 돌아오는 회신을 근거로 제작되었습니다.</p>
          
          <div class="space"></div>
          
          <p>현재까지 미응답 정당(가나다순)인  개혁국민신당(개혁신당), 기독민주당(기독당), 복지국가당, 친반통일당, 통일한국당과 응답을 거부한 정당(가나다순)인  가자코리아(코리아), 강제동원일제피해일본군위안부인권정당(일제위안부인권정당) 고용복지연금선진화연대(고복연), 더불어민주당(더민주), 새누리당외에는 각 정당 공보 담당자에게 정상적으로 응답을 받아 저희 데이터베이스에 입력했습니다.</p>
          
          <div class="space"></div>
          
          <p><strong>하지만 정상적으로 회신해주신 11개 정당 중에서도</strong> 단순 착오, 기입 실수, 설문 오독, 부서간 소통 문제 등으로 정당의 공식입장과 상이한 답변이 기록된 바가 있다는 의견이 제기되었습니다. <strong>이 경우 정당의 책임있는 당직자임을 확인 후, 서면(온라인 수단 포함)으로 공식 수정 요청을 받고 변경</strong>해드리고 있습니다:</p>
          
          <div class="space"></div>
          
          <p>1. <strong>공장식 축산 문항(8번)</strong> 관련해 <u>민중연합당</u> 공보 담당자께서 “<strong>매우 바람직하다</strong>”라는 기존 답변에 대해 착오가 있었다며  “<strong>매우 바람직하지 않다</strong>”로 수정 요청해 주셨습니다. 변경하기 이전에 이 사항을 이용자 여러분께 알리고 핑코리아 데이터 베이스 내 동 정당 입장을 수정하고자 합니다. 추후 결과 페이지에는 변경된 입장에 근거해 유사도가 계산된다는 점 역시 알립니다.</p>
          
          <div class="space"></div>
          
          2. <strong>성소수자 차별금지법에 대한 문항(10번)</strong> 관련해 제정에 “<strong>동의한다</strong>”는 기독자유당의 입장이 오기된 것 같다는 의견이 다수 접수되었습니다. 이에 기독자유당에서 기존 설문지 응답사항에 대한 입장을 고수할 것인지, 착오로 기입했는지에 대한 입장을 다시 확인한 결과 실수가 있었다는 답변을 받았습니다. 해당 문항에 대하여 기독자유당의 요청에 따라 “<strong>매우 동의하지 않는다</strong>”로 결과를 변경합니다. 이용자 여러분은 결과 해석에 참고하시기 바랍니다.
          
          <div class="space"></div>
          <div class="space"></div>
          
          <h4>서버가 불안정했던 것에 대한 안내</h4>
          
          <div class="space"></div>
          
          <p><strong>4월 4일 월요일 오후 7시경부터 새벽 4시까지</strong> 서비스 속도가 매우 느려지는 현상이 발생했습니다. 갑작스런 <strong>사용자 폭주</strong>로 인해 잠재되어 있던 문제들이 나타났고, 이를 고치는데 시간이 걸렸습니다.</p>
          <p>해당 시간동안 서비스 이용에 불편을 겪으셨을 사용자 여러분께 <strong>진심으로 사과드립니다</strong>. 현재는 해당 문제들이 해결되어 있는 상태이므로, <strong>정상적으로 서비스를 사용</strong>하실 수 있습니다.</p>
          
          <div class="space"></div>
          
          <p>모쪼록 깊은 관심과 애정으로 저희 서비스를 이용해주셔서 감사합니다! 본 공지는 4월 6일 수요일 자정까지 게시될 예정입니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            닫기
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Javascript #}
  {% if 'DEBUG'|get_settings_variable == False %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
  {% endif %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'dist/vendor.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  {% compress js %}
  <script type="text/javascript" src="{% static 'dist/base.js' %}"></script>
  {% endcompress %}

  {# This should be placed after base.js #}
  {% block custom_js %}{% endblock %}

  {# Support Placehoder for IE below version 10 #}
  <!--[if lte IE 9]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.8/jquery.placeholder.min.js"></script>
    <script type="text/javascript">
      if(!Modernizr.input.placeholder) $('input').placeholder();
    </script>
  <![endif]-->
</body>
</html>
