{% extends "base.html" %}

{% block container %}
<div class="text-center">
	<h3>이게 뭐예요?</h3>
</div>

<p>
	Ping은 대한민국 최초의 <strong>투표의사결정</strong> 애플리케이션(VAA: Voting Advice Application)입니다.
</p>

<div class="space"></div>

<div class="text-center">
	<h3>VAA가 뭔데요?</h3>
</div>

<p>
	VAA는 <strong>민주주의 사회에서 정책선거를 도와주는 장치</strong>로써, 95년 네덜란드에서 종이로 만든 것이 효시입니다. 이후 ~~~ 나라에서 사용되었고, ~~나라에서는 ~~~만큼 많은 사람들이 사용하여 대중적 인기를 끌었습니다. 다음과 같은 장점이 있습니다.
</p>

<div class="text-center">
	<li>위치 자각</li>
	<li>투표 독려</li>
</div>

<div class="space"></div>

<div class="text-center">
	<h3>VAA 약사</h3>
</div>

<div>
	<h4>어떻게 만들었나?</h4>
</div>

<p>
	1단계: 작동방식 (input → 결과 계산 알고리즘 -->  모든 코드는 공개되어 있습니다. 깃허브 링크를 보내드립니다.)
	2단계: 평소 국내에서 정치 성향 테스트를 ~~, ~~ 자문을 받아서 만들었습니다.
</p>

<div class="space"></div>

<div>
	<h4>왜 내가 평소 생각한 것과 다른 거죠?</h4>
</div>

<p>
	Ping은 현재 선호하시는 정당을 맞추는 예측 도구가 아닙니다. 일련의 정책과 안건에 대해 어떤 정당과 가장 가까운지를 알려줄 뿐입니다.
</p>

<div class="space"></div>

<div>
	<h4>1차원과 2차원 결과가 다른데요?</h4>
</div>

<p>
	계산 방법 때문에 그렇습니다.
	각각이 정당과의 거리를 측정할 수 있는 다양한 방법을 보여주는 것입니다.
	예를 들어, 이럴때, 이럴때 다릅니다.
</p>

<div class="space"></div>

<div>
	<h4>정당들이 직접 말해주는 게 좋지 않아요?</h4>
</div>

<div class="space"></div>

<div>
	<h4>누가 만들었나?</h4>
</div>

<p>
	한국 정치 풀뿌리 연구소, 와글의 펠로우들이 만들었습니다. 유권자의 
	민의를 제대로 전달하기 위한 노력이며,
	유권자의 온전한 투표권 행사를 보장하기 위함입니다.
	핑 코리아 비영리, 독립, 
</p>

<div class="space"></div>

<div>
	<h4>왜 사서 고생을 해요?</h4>
</div>

<p>
	정책선거, 메니페스토 실천운동 - 반보 느린 운동에서, 한발 앞선 유권자를 만든다.
	맛집이나 공연을 가기 전에도 블로그와 리뷰를 꼼꼼히 찾아보고 가는데, 어찌보면 더 오랫동안 우리 삶에 영향을 끼치는 1인 헌법기관, 국회의원들에 대해서는 너무 무심했는지도 모릅니다.
	우리 책임이기도 하고 권리이기도 합니다. 권리를 되찾는 것은 좋은 것이잖아요?
	실제로 권리는 가지고 있으나 제대로 행사하기 어려울 때가 많습니다.

	투표를 하려고 해도 다 똑같아 보입니다. 실제로 그럴 수도 있습니다. 커피가 다 쓴맛인 것 같아도 우리는 좋은 커피를 맛볼 줄 압니다. 일부러 설탕을 탄 건지, 제대로 된 원두를 볶아, 갈아서 내린 것인지, 처음 먹어본 사람은 압니다. 다 똑같아 보이지만 분명히 다릅니다.
</p>

<div class="space"></div>

<div>
	<h4>공간 이론은 뭔가요?</h4>
</div>

<p>
	1789년 칼라일 경이 프랑스 삼민회의 좌와 우를 나눈

	우리는 정치를 논할 때 언제나 위치와 거리를 재기 마련입니다. (Benoit and Laver: Party Politics)
</p>

<div class="space"></div>

<div>
	<h4>그게 한국에서 돼요? 이미 비슷한 테스트가 많았던 것 같은데</h4>
</div>

<p>
	된다고 봅니다. 여태껏 정치성향 테스트는 많았지만 사실 국내 사정과 동떨어져 있는 해외 테스트를 그대로 적용한 경우가 많았죠.
</p>
{% endblock %}
