{% load custom_filter %}

<a href="https://www.facebook.com/sharer/sharer.php?u=http://pingkorea.com{{ request.path }}" target="_blank">
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icon/facebook.svg" class="social-media__icon" />
</a>
<a href="https://twitter.com/intent/tweet?text=[핑! 정치성향 테스트] 나와 가장 어울리는 정당은? &url=http://pingkorea.com{{ request.path }}" id="twitter-share" target="_blank">
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icon/twitter.png" class="social-media__icon" />
</a>
<a href="https://plus.google.com/share?url=http://pingkorea.com{{ request.path }}" target="_blank">
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icon/google_plus.svg" class="social-media__icon" />
</a>
<a href="line://msg/text/[핑! 정치성향 테스트] 나와 가장 어울리는 정당은? http://pingkorea.com{{ request.path }}" id="line-share">
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icon/line.svg" class="social-media__icon" />
</a>
<a href="javascript:;" id="kakaotalk-share">
  <input type="hidden" id="kakaotalk-share__label" value="[핑! 정치성향 테스트] 나와 가장 어울리는 정당은?" />
  <input type="hidden" id="kakaotalk-share__image-src" value="{{ 'CDN_URL'|get_settings_variable }}/share/goal.png" />
  <input type="hidden" id="kakaotalk-share__image-width" value="200" />
  <input type="hidden" id="kakaotalk-share__image-height" value="200" />
  <input type="hidden" id="kakaotalk-share__btn-text" value="알아보기" />
  <input type="hidden" id="kakaotalk-share__url" value="http://pingkorea.com{{ request.path }}" />
  <img src="{{ 'CDN_URL'|get_settings_variable }}/social-media-icon/kakaotalk.svg" class="social-media__icon" />
</a>
