/* ===============
 * Color variables
 * =============== */

$blue-color: #004879;
$light-blue-color: lighten($blue-color, 3%);
$lighter-blue-color: lighten($blue-color, 10%);
$dark-blue-color: darken($blue-color, 3%);
$darker-blue-color: darken($blue-color, 10%);

$grey-color: #AEAEAE;
$light-grey-color: lighten($grey-color, 10%);
$lighter-grey-color: lighten($grey-color, 22%);
$dark-grey-color: darken($grey-color, 10%);
$darker-grey-color: darken($grey-color, 45%);

$pacman-color: #FFD500;
$ghost-red-color: #C0392B;
$ghost-orange-color: #F39C12;
$ghost-blue-color: #3498DB;
$ghost-pink-color: #E74C3C;

/* ======================
 * Transparency variables
 * ====================== */

$full-transparent: rgba(0, 0, 0, 0);
$almost-transparent: rgba(0, 0, 0, 0.3);
$half-transparent: rgba(0, 0, 0, 0.5);

/* ===============
 * Width variables
 * =============== */

$screen-xxs-max: 320px;
$screen-xs-min: 321px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1585px;
$screen-xlg-min: 1586px;

$question-image-width: 480px;
$pacman-width: 100px;

/* =====================
 * Default tag attribute 
 * ===================== */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	margin: 0;
	padding: 0;

	&:not(.glyphicon) {
		font-family: 'Noto Sans KR' !important;
	}

	// Prevent from blinking when clicked
	-webkit-tap-highbase-color-light: $full-transparent;
}

html, body { 
	width: 100%;
	height: 100%;
}

body {
	background-color: #333333 !important;
	overflow-x: hidden;

	// Disable double-tap-to-zoom in IE 10, 11 for fast-click
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: none;
}

a, a:focus, a:hover, a:active, a:visited {
	text-decoration: none !important;
	cursor: pointer;
	color: inherit;
	outline: 0;
}

/* ================
 * Common attribute
 * ================ */

.container {
	max-width: 700px;
}

.full-width {
	width: 100%;
}

.space {
	height: 15px;
}

#main-container {
	// Ease effect when body DOM loads
	opacity: 0;
}

#browser-support-alert-message {
  position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	text-align: center;
	z-index: 150;
}

.share-btn {
	display: inline;
	margin: 0 6px;
	
	img {
		width: 12%;
		max-width: 50px;
	}
}

.background-logo {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: -1;

	@media screen and (max-width: $screen-xs-max) {
		display: none;
	}

	&.background-logo--left {
		left: 60px;
		
		@media screen and (min-width: $screen-md-min) {
			left: 100px;
		}
		@media screen and (min-width: $screen-lg-min) {
			left: 200px;
		}
	}

	&.background-logo--right {
		right: 60px;
		
		@media screen and (min-width: $screen-md-min) {
			right: 100px;
		}
		
		@media screen and (min-width: $screen-lg-min) {
			right: 200px;
		}
	}
}

.recommendation {
	background-color: #EBEBEB;
	text-align: center;

	.recommendation__title {
		display: inline-block;
		margin-bottom: 15px;
		border-bottom: 1px dotted #414042;
		font-size: 1.2em;
		color: #414042;
		text-align: center;
	}

	.recommendation__row {
		margin: 0 auto;
		max-width: 600px; 
		
		.recommendation__column {
			padding: 0;
		}
	}
}

.modal__image {
	max-width: 300px;
	margin: 0 auto;
}

/* =========
 * Main page
 * ========= */

.main-page {
	max-width: 500px;
	background-color: #323234; 
	text-align: center;

	.main-page__logo {
		display: block;
		padding: 22px 0;
	}

	.main-page__column--left {
		padding-right: 3.75px;
	}

	.main-page__column--right {
		padding-left: 11.25px;
	}

	.main-page__social-media {
		margin-top: 29px;
		text-align: right; 
	}
}

.main-page__footer {
	max-width: 500px;
}

/* =====================
 * Assembly landing page
 * ===================== */

.landing {
	position: relative;
	overflow-x: hidden; 
	text-align: center; 

	.landing__image {
		position: relative; 
		left: 100%; 
		margin-left: -200%;
	}

	.landing__btn-container {
		position: absolute; 
		bottom: 100px;
		width: 100%; 
		
		.landing__btn {
			width: 170px; 
			border-radius: 0;
			font-size: 1.5em;
			background-color: #415FCF; 
			color: white; 
			
			&.landing__btn--result {
				margin-top: 30px;
			}
		}
	}
}

/* ====================
 * Assembly survey page
 * ==================== */

.survey__header {
	position: fixed; 
	top: 0; 
	width: 100%;

	.header__title-container {
		background-color: #323234;
		
		.header__title {
			padding: 15px 15px 11px 37px; 
			overflow-x: scroll;
			white-space: nowrap;
			font-weight: 700; 
			font-size: 1.8em;
			color: white; 
		}
	}

	.header__subtitle-container {
		background-color: #444444;
		
		.header__subtitle {
			padding: 8px 8px 8px 37px; 
			overflow-x: scroll;
			white-space: nowrap;
			font-weight: 300; 
			color: white;
		}
	}

	.header__progress-container {
		background-color: #EBEBEB;
		
		.header__progress {
			margin: 15px 0; 
			background-color: #D3D4D5;
			
			.header__progress-bar {
				background-color: #415FCF;
			}
		}
	}
}

.survey__body {
	background-color: #EBEBEB;

	.section {
		padding: 0 15px;
	}

	.statement {
		margin-bottom: 15px; 
		padding: 15px;
		background-color: white; 
		
		.statement--left {
			padding: 0 12px 0 0;
			text-align: center;
		}
			
		.statement--right {
			padding: 0 0 0 12px;
			text-align: center;
		}
		
		.statement__content {
			text-align: left;
		
			&.statement__content--left {
				padding-left: 0; 
				padding-right: 12px; 
			}
			
			&.statement__content--right {
				padding-left: 12px; 
				padding-right: 0;
			}
		}
		
		.statement__category--image {
			width: 100%;
		}
		
		.statement__category--text {
			margin-top: 12px;
			font-weight: 700;
			
			@media screen and (max-width: $screen-xxs-max) {
				font-size: 0.9em;
			}
		}
	}
}

.survey__footer {
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	background-color: white;

	.footer__sub-container {
		background-color: #EBEBEB;
		
		.footer__modal-trigger {
			padding: 8px 15px;
			text-align: right;
			cursor: pointer;
			
			.glyphicon {
				color: #BCBEC0;
			}
		}
	}

	.footer__main-container {
		padding: 15px 37px;
		
		.footer__description {
			margin-bottom: 15px; 
			font-weight: 500; 
			text-align: center;
		}
		
		.footer__choices {
			text-align: center;
			
			.choice {
				display: inline-block; 
				width: 60px; 
				height: 60px; 
				padding-top: 15px; 
				border-radius: 50%; 
				font-size: 1.5em; 
				font-weight: 500; 
				color: white; 
				text-align: center;
				cursor: pointer;
				
				&.choice--agreement {
					background-color: #43C8AD; 
					
					&.choice--active {
						background-color: #028968;
					}
				}
				
				&.choice--disagreement {
					background-color: #FF6521; 
					
					&.choice--active {
						background-color: #DE2F00; 
					}
				}
				
				&.choice--abtention {
					background-color: #3D3D3D;
					
					&.choice--active {
						background-color: #000000;
					}
				}
				
				&.choice--center {
					
					@media screen and (max-width: $screen-xxs-max) {
						margin: 0 28px;
					}
					
					@media screen and (min-width: $screen-xs-min) {
						margin: 0 48px;
					}
					
					@media screen and (min-width: $screen-sm-min) {
						margin: 0 60px;
					}
				}
			}
		}
	}
}

/* ====================
 * Assembly result page
 * ==================== */

.result__header {
	width: 100%;
	
	.header__title-container {
		background-color: #323234;
		
		.header__title {
			max-width: 600px;
			padding: 15px 15px 11px 37px; 
			overflow-x: scroll;
			white-space: nowrap;
			font-weight: 700; 
			font-size: 1.8em;
			color: white; 
		}
	}
	
	.header__subtitle-container {
		background-color: #444444;
		
		.header__subtitle {
			max-width: 600px;
			padding: 8px 8px 8px 37px; 
			overflow-x: scroll;
			white-space: nowrap;
			font-weight: 300; 
			color: white;
		}
	}
}

.result__body {
	background-color: #EBEBEB;
	
	.result__container {
		max-width: 600px;
		padding-top: 15px;
		color: #414042;
		
		.result__alert-message {
			text-align: center;
		}
		
		.result__summary {
			padding: 27px 15px; 
			line-height: 1.5em;
			font-size: 1.2em; 
			background-color: white; 
			text-align: center; 
			
			.summary__position {
				font-weight: 700;
				color: #43C8AD; 
			}
			
			.summary__best-matching-target {
				font-weight: 700;
				color: #43C8AD; 
			}
			
			.summary__worst-matching-target {
				font-weight: 700;
				color: #415FCF; 
			}
		}
		
		.result__chart {
			margin-top: 15px; 
			padding: 27px 10px; 
			background-color: white; 
			text-align: center; 
			
			.chart__title {
				font-size: 1.2em;
				font-weight: 700;
				text-align: center; 
			}
			
			.chart__legend {
				margin: 15px 0 -20px 0;
				line-height: 2.0em;
			}
			
			#credit-datasource {
				display: none;
			}
		}
		
		.result__search {
			margin-top: 15px; 
			padding: 27px 15px; 
			background-color: white; 
			text-align: center; 
			
			.search__title {
				font-size: 1.2em; 
				line-height: 1.5em;
			}
			
			.search__form {
				max-width: 200px; 
				margin: 15px auto 30px auto;
				font-size: 1.2em; 
			}
			
			.search__summary {
				padding-bottom: 30px;
				font-size: 1.2em; 
				line-height: 1.5em;
				
				.search__target {
					font-weight: 700;
				}
				
				.search__position {
					font-weight: 700;
					color: #415FCF; 
				}
				
				.search__similarity {
					font-weight: 700;
					color: #43C8AD;
				}
			}
			
			.result__menu {
				padding-bottom: 30px;
				text-align: center; 
				
				.menu {
					margin: 0 10px;
					border-bottom: 1px solid #414042;
					font-weight: 700; 
					color: #414042; 
					cursor: pointer;
				}
			}
			
			.search__toggle-btn {
				margin-bottom: 15px;
				border-radius: 0;
				background-color: #415FCF; 
				color: white; 
			}
			
			#answer-table {
				
				.panel-heading {
					font-weight: 700;
					text-align: left;
				}
				
				.panel-body {
					text-align: left;
					
					.label {
						margin: 0 3px;
					}
				}
			}
		}
		
		.result__social-media {
			margin: 35px 0 75px 0;
			text-align: center; 
		}
		
		.result__page-link {
			margin-bottom: 35px;
			
			.page-link__column--left {
				padding-right: 5px;
			}
			
			.page-link__column--right {
				padding-left: 5px;
			}
			
			.page-link__btn {
				border-radius: 0;
				font-size: 1.2em;
				background-color: #43C8AD;
				color: white;
				
				@media screen and (max-width: $screen-xxs-max) {
					font-size: 1.1em;
				}
			}
		}
	}
}

.result__footer {
	background-color: #EBEBEB;
	text-align: center;

	.footer__image {
		width: 100%;
		max-width: 600px;
	}
}

/* ============
 * Slot machine
 * ============ */

.slot-machine {
	position: relative;
	display: inline-block;
	overflow: hidden; 
	width: 100%;
	height: 80px;

	.slot-machine__items-container {
		position: absolute;
		width: 100%;
		
		.slot-machine__item {
			height: 80px;
			font-weight: bold;
			font-size: 65px;
		}
	}
}

/* ====================
 * Main page with survey
 * ===================== */

#section-slider-container {
	position: fixed;
	top: 15px;
	z-index: 150;

	@media screen and (max-width: $screen-xs-max) {
		width: 94%;
		left: 50%;
		margin-left: -47%;
	}

	@media screen and (min-width: $screen-sm-min) {
		width: $screen-sm-min;
		left: 50%;
		margin-left: -1 * $screen-sm-min / 2;
	}
}

#page-scroll-container {

	.section {
		text-align: center;
			
		#captcha-image-container {
			padding: 0;
		}
		
		#captcha-value {
			height: 44px;
		}
		
		.question {
		
			.question-contents-container {
				position: relative;
				
				.question-image {
					width: 100%;
					
					@media screen and (min-width: $question-image-width) {
						width: $question-image-width;
					}
				}
				
				.question-explanation {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					padding: 10px;
					justify-content: center;
					-webkit-box-align: center;
					-moz-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
					text-align: center;
					background-color: rgba(0, 0, 0, 0.5);
					color: white;
					font-size: 1.4em;
					z-index: 100;
					
					@media screen and (min-width: $question-image-width) {
						width: $question-image-width;
						left: 50%;
						margin-left: -1 * $question-image-width / 2;
					}
				}
			}
			
			.question-choices {
				
				.radio {
					position:relative;
					display: block;
					width: 100%;
					height: 35px;
					margin-bottom: 10px;
					font-size: 1.1em;
					
					@media screen and (min-width: $question-image-width) {
						width: $question-image-width;
						left: 50%;
						margin-left: -1 * $question-image-width / 2;
					}
					
					input[type='radio'] {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						z-index: 100;
						
						&:checked + label {
							color: white;
							background-color: $lighter-blue-color;
						}
					}
					
					label {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						padding: 8px;
						background-color: white;
						cursor: pointer;
						z-index: 50;
						
						&:hover {
							background: $light-grey-color;
						}
					}
				}
			}
		}
	}
}

#question-validation-message {
	position: fixed; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	margin-bottom: 0; 
	text-align: center;
	z-index: 220;
}

/* ==================
 * Result detail page
 * ================== */

#result-navbar {
	padding: 0;

	#result-category {
		
		button {
			border-radius: 0;
		}
	}
}

#result-detail-page {
	padding: 20px 0 50px 0;

	#result-2d-summary {
		
		.alert {
			margin-bottom: 0;
			padding: 5px;
			
			.most-similar-target, .most-disimilar-target {
				margin-top: 20px;
			}
		}
	}

	#chart-container {
		max-width: $question-image-width;
		margin: 0 auto;
		
		#result-1d-chart {
			margin-top: 20px;
			
			.progress-bar {
				min-width: 25%;
			}
		}
		
		#result-2d-chart {
			
			// Debug axis names are cut or not shown
			#result-2d-chart__svg { 
				overflow-x: visible;
				overflow-y: visible;
			}
		}
	}

	#record-additional-info {
		margin-bottom: 10px;
		font-style: italic;
		font-weight: 500;
		font-size: 0.9em;
		color: $dark-grey-color;
	}

	#report-card {
		padding-top: 10px;
		
		#report-card-alert-message {
			margin-bottom: 10px;
		}
		
		.panel-heading {
			font-weight: 700;
			cursor: pointer;
		}
		
		.choice-voters {
			
			.label {
				margin: 0 3px;
			}
		}
	}

	#share-btn-group {
		margin: 20px 0;
		padding: 20px 0 10px 0;
		text-align: center;
		background-color: white;
		color: $light-grey-color;
		font-style: italic;
		
		.share-btn {
			display: inline;
			padding: 7px;
			
			img {
				width: 12%;
				max-width: 50px;
			}
		}
	}

	#update-public-field-alert-message {
		margin-top: 20px;
	}

	#forbidden-alert-message {
		margin-top: 20px;
	}
}

/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */

@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading-icon  {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #415FCF;
	z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;

	@media screen and (min-width: $screen-md-min) {
		width: 120px;
		height: 120px;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		margin-left: -60px;
	}
}

/* ===========================================
 * Override `fullpage.js` styling
 * https://github.com/alvarotrigo/fullPage.js/
 * =========================================== */

.fp-controlArrow {
	width: 35px !important;
	height: 35px;
	margin-top: -35px;
	border: none;

	@media screen and (min-width: $screen-sm-min) {
		width: 72px !important;
		height: 71px;
		margin-top: -71px;
	}

	&.fp-prev {
		left: 10px;
		background: url('http://dl8hm92vwsxic.cloudfront.net/asset/common/arrow_left_sm.png');
		
		@media screen and (min-width: $screen-sm-min) {
			background: url('http://dl8hm92vwsxic.cloudfront.net/asset/common/arrow_left.png');
		}
	}

	&.fp-next {
		right: 10px;
		background: url('http://dl8hm92vwsxic.cloudfront.net/asset/common/arrow_right_sm.png');
		
		@media screen and (min-width: $screen-sm-min) {
			background: url('http://dl8hm92vwsxic.cloudfront.net/asset/common/arrow_right.png');
		}
	}
}

/* ===============================================
 * Override `rangeslider.js` styling
 * https://github.com/andreruffert/rangeslider.js/
 * =============================================== */

.rangeslider {
  background: white;
}

.rangeslider__fill {
  background: #5bc0de;
	background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
	background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
}

.rangeslider__handle {
  line-height: 42px;
  text-align: center;
	font-size: 1.2em;
	background: none;
	background-image: none;
	border: none;
	box-shadow: none;
  
  &:after {
		position: relative;
    top: 20px;
    left: 80%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: $pacman-color;
    border-bottom-color: $pacman-color;
    border-left-color:$pacman-color;
    border-width: 24px;
    border-style: solid;
		z-index: 10;
  }
}

/* ================================================
 * Pacman - http://codepen.io/iamilad/pen/PPZvGQ
 * Ghost - http://codepen.io/flkt-crnpio/pen/gpgzPw
 * ================================================ */

.ghost {
	width: 30px;
	height: 36px;
	border-radius: 15px 15px 1.5px 1.5px;
	position: relative;
	margin-top: -28px;
	float: right;

	&.ghost-red {
		background: $ghost-red-color;
	}

	&.ghost-orange {
		background: $ghost-orange-color;
	}

	&.ghost-blue {
		background: $ghost-blue-color;
	}

	&.ghost-pink {
		background: $ghost-pink-color;
	}

	.eye {
		background: white;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 7px;
		left: 2px;
		border-radius: 50%;
		
		&.eye-right {
			left: 14px;
		}
		
		&:before {
			content: "";
			background: $light-blue-color;
			width: 4px;
			height: 4px;
			position: absolute;
			top: 3px;
			left: 0;
			border-radius: 50%;
		}
	}

	&.ghost-orange .eye:before {
		top: 0;
		left: 3px;
	}

	&.ghost-blue .eye:before {
		left: 3px;
	}

	&.ghost-pink .eye:before {
		left: 6px;
	}

	.foot {
		position: absolute;
		left: 2px;
		bottom: -4px;
		width: 7px;
		height: 7px;
		border-radius: 3px;
		background: $lighter-grey-color;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
		transform: rotate(45deg);
		
		&.foot-center {
			left: 12px;
		}
		
		&.foot-right {
			left: 21px;
		}
	}
}
