/* ===============
 * Color variables
 * =============== */

$blue-color: #004879;
$light-blue-color: lighten($blue-color, 3%);
$lighter-blue-color: lighten($blue-color, 10%);
$dark-blue-color: darken($blue-color, 3%);
$darker-blue-color: darken($blue-color, 10%);

$grey-color: #AEAEAE;
$light-grey-color: lighten($grey-color, 10%);
$lighter-grey-color: lighten($grey-color, 22%);
$dark-grey-color: darken($grey-color, 10%);
$darker-grey-color: darken($grey-color, 45%);

/* ======================
 * Transparency variables
 * ====================== */

$full-transparent: rgba(0, 0, 0, 0);
$almost-transparent: rgba(0, 0, 0, 0.3);
$half-transparent: rgba(0, 0, 0, 0.5);

/* ===============
 * Width variables
 * =============== */

$screen-xxs-max: 320px;
$screen-xs-min: 321px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1585px;
$screen-xlg-min: 1586px;

$question-image-width: 480px;

/* =====================
 * Default tag attribute 
 * ===================== */

@import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Barun Gothic';

	// Prevent from blinking when clicked
	-webkit-tap-highbase-color-light: $full-transparent;
}

html, body { 
	width: 100%;
	height: 100%;
}

body {
	// Disable double-tap-to-zoom in IE 10, 11 for fast-click
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: none;
}

a, a:focus, a:hover, a:active, a:visited {
	text-decoration: none !important;
	cursor: pointer;
	color: inherit;
	outline: 0;

	&.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger  {
		color: white;
	}
}

pre {
	font-family: 'Nanum Barun Gothic';
	background-color: $lighter-grey-color;
	padding: 15px;
	border: 0;
}

/* ===============
 * Basic attribute
 * =============== */

.position-relative {
	position: relative;
}

.full-width {
	width: 100%;
}

.short-width-group {
	margin-left: auto; 
	margin-right: auto; 
	max-width: 330px;
}

.cursor-pointer {
	cursor: pointer;
}

.space {
	height: 20px;
}

.grey-color {
	color: $grey-color;
}

/* ============
 * Slot machine
 * ============ */

.slot-machine {
	position: relative;
	display: inline-block;
	overflow: hidden; 
	width: 100%;
	height: 80px;

	.slot-machine__items_container {
		position: absolute;
		width: 100%;
		
		.slot-machine__item {
			height: 80px;
			font-weight: bold;
			font-size: 65px;
		}
	}
}

/* ===============
 * Common elements
 * =============== */

#browser-support-alert-message {
  position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	text-align: center;
	z-index: 150;
}

#voice-of-customer-curtain {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: inherit; 
	height: inherit; 
	background-color: $almost-transparent; 
	cursor: pointer;
	z-index: 170
}

#voice-of-customer-container {
  position: fixed; 
	bottom: 0; 
	left: 15%;
	width: 70%; 
	text-align: center; 
	z-index: 200;

	#toggle-voice-of-customer-btn {
		height: 40px;
		border-radius: 5px 5px 0 0;
	}

	#voice-of-customer {
		background-color: white; 
		padding: 10px; 
		border-radius: 5px 5px 0 0;
		
		textarea {
			min-height: 100px;
			margin-bottom: 10px;
		}
	}
}

/* ====================
 * Main page with survey
 * ===================== */

#page-scroll-container {

	.section {
		text-align: center;
			
		#captcha-image-container {
			padding: 0;
		}
		
		#captcha-value {
			height: 44px;
		}
		
		.back-to-top {
			position: absolute;
			bottom: 5px;
			left: 0;
			color: $grey-color;
		}
		
		.go-to-bottom {
			position: absolute;
			bottom: 5px;
			right: 0;
			color: $grey-color;
		}
		
		.question {
		
			.question-contents-container {
				position: relative;
				
				.question-image {
					width: 100%;
					
					@media screen and (min-width: $question-image-width) {
						width: $question-image-width;
					}
				}
				
				.question-explanation {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					padding: 10px;
					justify-content: center;
					-webkit-box-align: center;
					-moz-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
					text-align: center;
					background-color: rgba(0, 0, 0, 0.5);
					color: white;
					font-size: 1.4em;
					z-index: 100;
					
					@media screen and (min-width: $question-image-width) {
						width: $question-image-width;
						left: 50%;
						margin-left: -1 * $question-image-width / 2;
					}
				}
			}
			
			.question-choices {
				
				.radio {
					position:relative;
					display: block;
					width: 100%;
					height: 35px;
					margin-bottom: 10px;
					font-size: 1.1em;
					
					@media screen and (min-width: $question-image-width) {
						width: $question-image-width;
						left: 50%;
						margin-left: -1 * $question-image-width / 2;
					}
					
					input[type='radio'] {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						z-index: 100;
						
						&:checked + label {
							color: white;
							background-color: $lighter-blue-color;
						}
					}
					
					label {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						padding: 8px;
						background-color: white;
						cursor: pointer;
						z-index: 50;
						
						&:hover {
							background: $light-grey-color;
						}
					}
				}
			}
		}
	}
}

#question-validation-message {
	position: fixed; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	margin-bottom: 0; 
	text-align: center;
	z-index: 220;
}

/* ================
 * Result list page
 * ================ */

#result-list-page {
	padding-top: 30px;
}

/* ==================
 * Result detail page
 * ================== */

#result-detail-page {
	padding-bottom: 60px;

	#result-explanation {
		margin-bottom: 0;
	}

	#chart-container {
		max-width: $question-image-width;
		margin: 0 auto;
	}

	#label-list {
		
		.label {
			display: inline-block;
			margin: 3px;
			font-size: 1em;
		}
	}

	#share-btn-group {
		margin-bottom: 20px;
		padding: 20px 0 10px 0;
		text-align: center;
		background-color: white;
		color: $light-grey-color;
		font-style: italic;
		
		.share-btn {
			display: inline;
			padding: 7px;
			
			img {
				width: 12%;
				max-width: 50px;
			}
		}
	}
}

/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */

@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading-icon  {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 $lighter-blue-color;
	z-index: 9999;
  -ms-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -webkit-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;

	@media screen and (min-width: $screen-md-min) {
		width: 120px;
		height: 120px;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		margin-left: -60px;
	}
}
