{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}
{% load custom_filter %}

{% block container %}
<div class="landing">
	<img src="{{ 'CDN_URL'|get_settings_variable }}/asset/party/landing.png" class="landing__image" />
	
	<div class="landing__btn-container">
		<div>
			<button type="button" class="btn btn-lg landing__btn landing__btn--survey" data-loading-text="로딩중입니다">
				새로 시작하기
			</button>
		</div>
		<div>
			<button type="button" class="btn btn-lg landing__btn landing__btn--result hidden" data-loading-text="로딩중입니다">
				지난 결과보기
			</button>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'dist/party_index.js' %}"></script>
{% endcompress %}
{% endblock %}
