{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}
{% load custom_filter %}

{% block container %}
<div class="survey__header">
	<div class="container-fit header__title-container">
		<div class="container header__title">&nbsp;</div>
	</div>

	<div class="container-fit header__subtitle-container">
		<div class="container header__subtitle">&nbsp;</div>
	</div>

	<div class="container-fit header__progress-container">
		<div class="container">
			<div class="progress header__progress">
				<div class="progress-bar header__progress-bar" role="progressbar"></div>
			</div>
		</div>
	</div>
</div>

<div class="survey__body">
	<div class="section" data-anchor="main"></div>
</div>

<div class="slide" id="slide-virtual-dom" data-anchor="">
	<div class="container">
		<div class="row statement statement--agreement">
			<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 statement--left">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/asset/assembly/btn_agreement.png" class="statement__category--image" />
				<div class="statement__category--text">
					찬성 의견
				</div>
			</div>
			<div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 statement__content statement__content--right"></div>
		</div>
		<div class="row statement statement--disagreement">
			<div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 statement__content statement__content--left"></div>
			<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 statement--right">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/asset/assembly/btn_disagreement.png" class="statement__category--image" />
				<div class="statement__category--text">
					반대 의견
				</div>
			</div>
		</div>
		<div class="cheating-paper__content hidden"></div>
	</div>
</div>

<div class="container-fit survey__footer">
	<div class="footer__sub-container">
		<div class="container footer__modal-trigger" data-toggle="modal" data-target="#cheating-paper">
			컨닝페이퍼
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
		</div>
	</div>
	<div class="container footer__main-container">
		<div class="footer__description">
			이 법안에 대해 표결해 주십시오
		</div>
		<div class="footer__choices">
			<div class="choice choice--agreement">
				찬성
			</div>
			<div class="choice choice--disagreement choice--center">
				반대
			</div>
			<div class="choice choice--abtention">
				기권
			</div>
		</div>
  </div>
</div>

<div class="modal fade" id="cheating-paper" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title">컨닝페이퍼</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
					확인
				</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'dist/assembly_survey.js' %}"></script>
{% endcompress %}
{% endblock %}
