{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}
{% load custom_filter %}

{% block container %}
<div class="survey__header">
	<div class="container-fit header__title-container">
		<div class="container header__title">&nbsp;</div>
	</div>

	<div class="container-fit header__progress-container">
		<div class="container">
			<div class="progress header__progress">
				<div class="progress-bar header__progress-bar header__progress-bar--green" role="progressbar"></div>
			</div>
		</div>
	</div>
</div>

<div class="survey__body">
	<div class="section" data-anchor="main"></div>
</div>

<div class="slide" id="slide-virtual-dom" data-anchor="">
	<div class="container">
		<div class="question__explanation" style="padding: 30px 10px 10px 10px; font-size: 1.5em; background-color: white;"></div>
		<div class="container modal-trigger" data-toggle="modal" data-target="#cheating-paper" style="text-align: right; padding: 8px 15px; cursor: pointer; background-color: white;">
			컨닝페이퍼
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color: #BCBEC0;"></span>
		</div>
		<div class="question__choices" style="text-align: center;"></div>
		<div class="cheating-paper__content hidden"></div>
	</div>
</div>

<div class="modal fade" id="cheating-paper" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title">컨닝페이퍼</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
					확인
				</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'dist/party_survey.js' %}"></script>
{% endcompress %}
{% endblock %}
