{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}
{% load custom_filter %}

{% block container %}
<div class="survey__header">
	<div class="container-fit header__title-container">
		<div class="container header__title">&nbsp;</div>
	</div>

	<div class="container-fit header__subtitle-container">
		<div class="container header__subtitle">&nbsp;</div>
	</div>

	<div class="container-fit header__progress-container">
		<div class="container header__progress-wrapper">
			<div class="progress header__progress">
				<div class="progress-bar header__progress-bar header__progress-bar--green" role="progressbar"></div>
			</div>
		</div>
	</div>
</div>

<div class="survey__body">
	<div class="section" data-anchor="main"></div>
</div>

<div class="slide" id="slide-virtual-dom" data-anchor="">
	<div class="container question">
		<div class="question__explanation-container">
			<div class="question__explanation"></div>
		</div>
		<div class="question__choices"></div>
	</div>
</div>

<div class="slide hidden" data-anchor="additional-info" id="additional-info-slide">
	<div class="additional-info">
		<h3>성별이 어떻게 되십니까?</h3>
		<div>
			<label class="radio-inline">
				<input type="radio" name="sex" value="male" />
				남자
			</label>
			<label class="radio-inline">
				<input type="radio" name="sex" value="female" />
				여자
			</label>
		</div>
		
		<h3>언제 태어나셨습니까?</h3>
		<div>
			<input type="number" class="form-control" id="year-of-birth" min="{{ 'MIN_YEAR_OF_BIRTH'|get_settings_variable }}" max="{{ 'MAX_YEAR_OF_BIRTH'|get_settings_variable }}" placeholder="출생년도" autocomplete="off" />
		</div>
		
		<h3>정치성향이 어떻습니까?</h3>
		<div>
			<select class="form-control" id="political-tendency">
				<option value="">클릭해서 선택하세요</option>
				<option value="none">없음</option>
				<option value="conservative">보수</option>
				<option value="conservative_center">중도에 가까운 보수</option>
				<option value="center">중도</option>
				<option value="progressive_center">중도에 가까운 진보</option>
				<option value="progressive">진보</option>
			</select>
		</div>
		
		<h3>어떤 정당을 지지합니까?</h3>
		<div>
			<select class="form-control" id="supporting-party">
				<option value="">클릭해서 선택하세요</option>
				<option value="none">없음</option>
			</select>
		</div>
		
		<div class="space"></div>
		
		<button type="button" class="btn btn-lg btn-block survey__submit-btn" data-loading-text="로딩중입니다">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;
			결과 확인하기
		</button>
		
		<div class="space"></div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'dist/party_survey.js' %}"></script>
{% endcompress %}
{% endblock %}
